html{
    background: #333;
}

.row{
    background: #0b2e13;
    min-height: 50px;
}

.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-12{
    border: solid black;
    min-height: 100px !important;
}